# Python virtual environment
venv/

# Python bytecode
/backend/__pycache__/
*.pyc

# Node.js dependencies
/frontend/node_modules/

# Node / Yarn / npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# DB files
*.db

# Logs or misc local files
# *.log
cybermagupdates.txt
historyText.txt


# macOS system files
# .DS_Store

# Frontend build output (if you generate a build)
/frontend/build/

# Environment files (adjust if you have any)
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# Coverage / test output
# .coverage
# coverage/